// Fonts Variables

$primaryFont: "Manrope";
$secondaryFont: "Winter Sans Trial";

$extrabold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;

// Utils Variables

$white: white;
$black: black;

$fontColor: #222222;

$mainBg: #f9f9f9;

$primaryColor: #00307d;
$secondaryColor: #2c6ed7;

$primaryShadow: rgba(0, 48, 125, 0.2);

$gray1: #c3c3c3;
$gray2: #ebf2fa;
$gray3: #f3f3f3;
$gray4: #d9d9d9;

$blue1: #ebf2fa;

// Other Colors

// Container Variables

$containerWidth: 112.5rem;
$containerPaddingDesk: 3.75rem;
$containerPaddingMob: 1.125rem;
