.catalog {
    width: 100%;
    margin-bottom: 9.625rem;
    margin-top: 1.875rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2rem;
        margin-bottom: 3.75rem;
    }

    &__often {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        flex-wrap: wrap;

        &_mobile {
            display: none;
        }
    }

    &__often-text {
        font-size: 1.5rem;
        font-weight: $semibold;
    }

    &__sort-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.25rem;
    }

    &__sort-btn {
        padding: 0.875rem 2.5rem;
        background: $white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;

        &::before {
            content: "";
            width: 1.375rem;
            height: 0.25rem;
            background: $primaryColor;
            transition: 0.3s;
        }

        &:hover {
            background: $primaryColor;
            color: $white;

            &::before {
                background: $white;
            }
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.75rem 1.25rem;
    }
}

.catalog-item {
    min-height: 22rem;
    background: $white;
    padding: 1.875rem 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    cursor: pointer;
    transition: 0.3s;

    &__header {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    &__name {
        font-size: 3rem;
        line-height: 100%;
        max-width: 37.5rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.875rem;

        &_double {
            grid-template-columns: repeat(2, 1fr);
        }

        &_triple {
            grid-template-columns: repeat(3, 1fr);
            gap: 1.875rem 0;
        }

        li {
            font-size: 1.5rem;
            font-weight: $semibold;
            display: inline-flex;
            align-items: center;
            gap: 0.625rem;
            line-height: 110%;
            transition: 0.3s;

            &::before {
                content: "";
                height: 0.25rem;
                width: 1.375rem;
                background: $primaryColor;
                display: inline-block;
                transition: 0.3s;
            }
        }
    }

    svg {
        transition: 0.3s;

        path {
            transition: 0.3s;
        }
    }

    &:hover {
        background: $primaryColor;

        li a {
            color: $white;
        }

        li {
            &::before {
                background: $white;
            }
        }

        svg {
            transform: rotate(45deg);
            path {
                stroke: $white;
            }
        }
    }

    &:hover &__name {
        color: $white;
    }
}

// Media Queries

@media all and (max-width: 1400px) {
    .catalog {
        &__items {
            grid-template-columns: 1fr;
        }
    }
}

@media all and (max-width: 1200px) {
    .catalog {
        &__header {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

@media all and (max-width: 600px) {
    .catalog {
        margin-top: 0.625rem;
        margin-bottom: 5rem;
        &__often {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            background: $white;
            padding: 1.25rem;
            margin-top: 2.5rem;

            &_mobile {
                display: flex;
            }
        }

        &__sort-buttons {
            flex-direction: column;
            align-items: flex-start;
        }

        &__sort-btn {
            padding: 0;
            background: transparent;
            gap: 0.5rem;

            &:hover {
                color: $fontColor;
                background: $white;
            }
            &::before {
                background: $primaryColor;
                height: 0.125rem;
                min-width: 1.125rem;
                width: 1.125rem;
            }
        }

        &__header {
            margin-bottom: 2.5rem;
        }

        &__items {
            gap: 2.5rem;
        }
    }

    .catalog-item {
        padding: 1.25rem;
        min-height: auto;

        &__name {
            font-size: 1.5rem;
        }

        &__link {
            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        &__list {
            &_double {
                grid-template-columns: 1fr;
            }

            &_triple {
                grid-template-columns: repeat(2, 1fr);
            }

            li {
                font-size: 1rem;
                align-items: flex-start;

                &::before {
                    height: 0.125rem;
                    min-width: 1.125rem;
                    width: 1.125rem;
                    transform: translate(0, 0.35rem);
                }
            }
        }
    }
}
