.details {
    width: 100%;
    margin-bottom: 8.75rem;

    &__title {
        padding-top: 2.6875rem;
        margin-bottom: 2.5rem;
    }
}

// Media Queries

@media all and (max-width: 600px) {
    .details {
        margin-bottom: 5rem;

        &__title {
            padding-top: 1.6875rem;
        }
    }
}
