.projects-page {
    width: 100%;
    margin-bottom: 8.75rem;
    margin-top: 1.875rem;

    &__title {
        margin-bottom: 3.75rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3.75rem 1.25rem;
    }
}

// Media Queries

@media all and (max-width: 1350px) {
    .projects-page {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media all and (max-width: 991px) {
    .projects-page {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media all and (max-width: 600px) {
    .projects-page {
        margin-top: 0.625rem;
        margin-bottom: 5rem !important;
        &__title {
            margin-bottom: 2.5rem;
        }
        &__items {
            grid-template-columns: 1fr;
            gap: 1.25rem;
            margin-bottom: 2.5rem;
        }
    }
}
