.profile {
    width: 100%;
    margin-bottom: 8.75rem;

    &__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 2.6875rem;
        margin-bottom: 2.5rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1.25rem;
    }
}

.profile-item {
    padding: 1.25rem 1.125rem 1.25rem 1.25rem;
    background: $white;
    color: $primaryColor;
}

// Media Queries

@media all and (max-width: 1300px) {
    .profile {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media all and (max-width: 1100px) {
    .profile {
        &__header {
            display: flex;

            div {
                display: none;
            }
        }
    }
}

@media all and (max-width: 991px) {
    .profile {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media all and (max-width: 600px) {
    .profile {
        margin-bottom: 5rem;
        &__header {
            padding-top: 1.6875rem;
        }
        &__items {
            grid-template-columns: 1fr;
        }
    }
}
