.subcategory {
    width: 100%;
    margin-top: 1.875rem;
    margin-bottom: 8.75rem;

    &__title {
        margin-bottom: 3.75rem;
        font-size: 6rem;
    }

    &__filter {
        margin-bottom: 3.75rem;
    }

    &__link-wrap {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2.5rem;
    }

    &__link {
        font-weight: $semibold;
        color: $primaryColor;
        display: inline-flex;
        align-items: center;
        gap: 0.625rem;
        text-transform: uppercase;
        position: relative;

        &::before {
            content: "";
            height: 0.0625rem;
            width: 0;
            background: $primaryColor;
            position: absolute;
            top: 100%;
            left: 0;
            transition: 0.3s;
        }

        &:hover::before {
            width: 100%;
        }

        &:hover {
            color: $primaryColor;
        }

        // &::after {
        //     content: "";
        //     height: 0.875rem;
        //     min-width: 0.875rem;
        //     width: 0.875rem;
        //     background: url("../img/icons/arrow-right-top-blue.svg") no-repeat
        //         center / 100%;
        //     display: inline-block;
        // }
    }

    table {
        text-align: center;
    }

    &__mobile-filter {
        display: none;
        flex-direction: column;
        gap: 1.25rem;
        margin-bottom: 2.5rem;
    }
}

.filter-item {
    width: 100%;
    padding: 0.625rem 1.25rem;
    background: $white;
    transition: 0.3s;

    &__open {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            transition: 0.3s;
        }

        &.active {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__list {
        padding-bottom: 0.3125rem;
        padding-top: 1.25rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;

        li {
            font-weight: $semibold;
            display: inline-flex;
            align-items: center;
            gap: 0.625rem;
            line-height: 110%;
            transition: 0.3s;

            &::before {
                content: "";
                height: 0.125rem;
                width: 1.125rem;
                background: $primaryColor;
                display: inline-block;
                transition: 0.3s;
            }
        }
    }

    &.active {
        color: $white;
        background: $primaryColor;

        li {
            &::before {
                background: $white;
            }
        }

        svg {
            stroke: $white;
        }
    }

    &__hidden {
        display: none;
    }
}

.filter {
    &__top {
        margin-bottom: 2.5rem;
        display: flex;
        gap: 1.25rem;
    }

    &__btn {
        padding: 0.875rem;
        background: $white;
        font-size: 1.5rem;

        &_active {
            background: $primaryColor;
            color: $white;
        }

        &:hover {
            color: $white;
            background: $primaryColor;
        }

        &:hover::after {
            transform: rotate(45deg);
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__top &__btn {
        width: 100%;
    }

    &__bottom {
        display: flex;
        gap: 1.25rem;
    }

    &__bottom &__btn {
        max-width: 12.94rem;
        width: 100%;
    }
}

// Media Queries

@media all and (max-width: 1200px) {
    .subcategory {
        &__filter {
            display: none;
        }

        &__mobile-filter {
            display: flex;
        }

        &__table-wrap {
            width: 100%;
            overflow: auto;
            padding-bottom: 0.625rem;

            &::-webkit-scrollbar {
                width: 0.75rem;
                height: 0.625rem;
            }

            &::-webkit-scrollbar-track {
                background-color: $gray4;
            }

            &::-webkit-scrollbar-thumb {
                box-shadow: inset 0 0 6.25rem $primaryColor;
                border: 0.125rem solid $gray4;
                border-radius: 0;
            }

            table {
                min-width: 85rem;
            }
        }

        &__title {
            font-size: 4rem;
        }
    }
}

@media all and (max-width: 600px) {
    .subcategory {
        margin-top: 0.625rem;
        margin-bottom: 5rem;

        &__title {
            font-size: 2.25rem;
            margin-bottom: 2.5rem;
        }

        &__link-wrap {
            margin-top: 1.25rem;
        }
    }
}
