.tech {
    width: 100%;
    margin-top: 1.875rem;
    margin-bottom: 9.1875rem;

    &__title {
        font-size: 6rem;
        margin-bottom: 3.25rem;
    }

    &__row {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    &__img {
        padding-right: 2.3125rem;
    }

    &__list {
        margin-right: 1.25rem;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 110%;
        }

        & > *:not(:last-child) {
            padding-bottom: 0.875rem;
            margin-bottom: 0.875rem;
            border-bottom: 0.0625rem solid $gray1;
        }
    }

    &__descr {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

// Media Queries

@media all and (max-width: 1450px) {
    .tech {
        &__row {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.5rem;
        }

        &__img {
            padding: 0;
        }
    }
}

@media all and (max-width: 991px) {
    .tech {
        &__title {
            font-size: 4rem;
        }
        &__row {
            grid-template-columns: 1fr;
            gap: 2.5rem;
        }
    }
}

@media all and (max-width: 600px) {
    .tech {
        margin-top: 0.625rem;
        margin-bottom: 5rem;
        &__title {
            font-size: 2.25rem;
            margin-bottom: 2.5rem;
        }
        &__row {
            grid-template-columns: 1fr;
            gap: 2.5rem;
        }
    }
}
